lpoo1_grupo_7/Vistas/obj/x86/Debug/TempPE/opticaDataSet.Designer.cs.dll
lpoo1_grupo_7/Vistas/obj/x86/Debug/Vistas.FormNuevoUsuario.resources
lpoo1_grupo_7/Vistas/opticaDataSet.xsd
lpoo1_grupo_7/Vistas/opticaDataSet.xss
lpoo1_grupo_7/Vistas/bin/Debug/Vistas.vshost.exe.config
lpoo1_grupo_7/Vistas/bin/Debug/Vistas.exe.config
lpoo1_grupo_7/Vistas/opticaDataSet.Designer.cs
lpoo1_grupo_7/Vistas/FormNuevoUsuario.resx
lpoo1_grupo_7/Vistas/FormNuevoUsuario.Designer.cs
lpoo1_grupo_7/Vistas/app.config
lpoo1_grupo_7/ClasesBase/Properties/Settings.settings
lpoo1_grupo_7/ClasesBase/Properties/Settings.Designer.cs
lpoo1_grupo_7/ClasesBase/obj/Debug/TempPE/opticaDataSet.Designer.cs.dll
lpoo1_grupo_7/ClasesBase/bin/Debug/ClasesBase.dll.config
lpoo1_grupo_7/ClasesBase/opticaDataSet.xss
lpoo1_grupo_7/ClasesBase/opticaDataSet.xsc
lpoo1_grupo_7/ClasesBase/opticaDataSet.Designer.cs
lpoo1_grupo_7/ClasesBase/app.config
lpoo1_grupo_7/optica_log.LDF
